.container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
     

  }
  
  .formDiv {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    
  }
  
  .alert {
    text-align: center;
    margin-top: 20px;
  }
  
  .creditCard{
      margin-bottom: 15%;
      
  }

  .form{
    margin-top: 5%
  }

  .button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    margin: 4px 100px;
    margin-top: 15%;
    cursor: pointer;
  }